
<div *ngIf="enduser">
    <h2><span>Application User</span> {{enduser.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Forename</span></dt>
        <dd>
            <span>{{enduser.forename}}</span>
        </dd>
        <dt><span>Surname</span></dt>
        <dd>
            <span>{{enduser.surname}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{enduser.email}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'enduser/'+ enduser.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
