<div>
    <h2>
        <span>Application Users</span>
        <button class="btn btn-primary float-right jh-create-entity create-enduser" [routerLink]="['/', { outlets: { popup: ['enduser-new'] } }]">
        <span class="fa fa-plus"></span>
        <span >
            Create new Application User
            </span>
    </button>

        <button class="btn btn-primary float-right jh-create-entity create-enduser" [routerLink]="['/', { outlets: { popup: ['enduser-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Upload CSV File
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="endusers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="forename"><span>Forename</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="surname"><span>Surname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span>Email</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let enduser of endusers ;trackBy: trackId">
                <td><a [routerLink]="['../enduser', enduser.id ]">{{enduser.id}}</a></td>
                <td>{{enduser.forename}}</td>
                <td>{{enduser.surname}}</td>
                <td>{{enduser.email}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../enduser', enduser.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'enduser/'+ enduser.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'enduser/'+ enduser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="endusers && endusers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
